{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'css/login_two.css' %}">
</head>
<body>
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form class="login" action="" method="post" novalidate>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="button login__submit btn btn-info btn-sm">
                            <span class="button__text">Log In Now</span>
                            <i class="button__icon fas fa-chevron-right"></i>
                        </button>
                    </div>
                </form>
                <h5 class="" style="color: whitesmoke;"> <a href="{% url 'password_reset' %}"><span style="color: #776BCC;">Forgot</span> password?</a></h5>
                <div class="social-login">
                    
                    <h5>log in via</h5>
                    <div class="social-icons">
                        <a href="#" class="social-login__icon fab fa-instagram"></a>
                        <a href="#" class="social-login__icon fab fa-facebook"></a>
                        <a href="#" class="social-login__icon fab fa-twitter"></a>
                    </div>
                </div>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>		
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>		
        </div>
    </div>
</body>
</html>

{% endblock %}