
{%extends 'registration/base.html'%}
{% load crispy_forms_tags %}
{%load static%}

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form class="login" action="" method="post" novalidate>
                   
                        <i class="login__icon fas fa-lock"></i>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="button login__submit btn btn-info btn-sm">
                            <span class="button__text">Log In Now</span>
                            <i class="button__icon fas fa-chevron-right"></i>
                        </button>
                 
                </form>

	
        </div>
    </div>
</body>
</html>

{%endblock%}
