{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    body{
        background:#eee;
    }
    
    .card{
        border:none;
    
        position:relative;
        overflow:hidden;
        border-radius:8px;
        cursor:pointer;
    }
    
    .card:before{
        
        content:"";
        position:absolute;
        left:0;
        top:0;
        width:4px;
        height:100%;
        background-color:#E1BEE7;
        transform:scaleY(1);
        transition:all 0.5s;
        transform-origin: bottom
    }
    
    .card:after{
        
        content:"";
        position:absolute;
        left:0;
        top:0;
        width:4px;
        height:100%;
        background-color:#8E24AA;
        transform:scaleY(0);
        transition:all 0.5s;
        transform-origin: bottom
    }
    
    .card:hover::after{
        transform:scaleY(1);
    }
    
    
    .fonts{
        font-size:11px;
    }
    
    .social-list{
        display:flex;
        list-style:none;
        justify-content:center;
        padding:0;
    }
    
    .social-list li{
        padding:10px;
        color:#8E24AA;
        font-size:19px;
    }
    
    
    .buttons button:nth-child(1){
           border:1px solid #8E24AA !important;
           color:#8E24AA;
           height:40px;
    }
    
    .buttons button:nth-child(1):hover{
           border:1px solid #8E24AA !important;
           color:#fff;
           height:40px;
           background-color:#8E24AA;
    }
    
    .buttons button:nth-child(2){
           border:1px solid #8E24AA !important;
           background-color:#8E24AA;
           color:#fff;
            height:40px;
    }
</style>
<body>
    <div class="container mt-5">
    
        <div class="row d-flex justify-content-center">
            
            <div class="col-md-7">
                
                <div class="card p-3 py-4">
                    
                    <div class="text-center">
                        
                        {% if author.profile_photo %}
                        <img src="{{ user.author.profile_picture.url}}" alt="">
                        {% else %}
                        <img src="https://i.imgur.com/bDLhJiP.jpg" width="100" class="rounded-circle">
                        {% endif%}
                    </div>
                    
                    <div class="text-center mt-3">
                        <span class="bg-secondary p-1 px-4 rounded text-white">Level: {{ author.level }}</span>
                        <h5 class="mt-2 mb-0">Author Name: {{ author.zen_name }}</h5>
                        <span>Title: {{ author.designation }}</span>
                        
                        <div class="px-4 mt-1">
                            <p class="fonts">{{ author.bio }} </p>
                        
                        </div>
                        
                         <ul class="social-list">
                            
                            <li><a href="{{ author.dribble_url }}"><i class="fab fa-dribbble"></i></a></li>
                            <li><a href="{{ author.linkedin_url }}"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="{{ author.facebook_url}}"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="{{ author.twitter_url }}"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="{{ author.instagram_url }}"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                        
                        <div class="buttons">
                            
                            <button type="button" class="btn rounded btn-outline-primary px-4">Message</button>
                            <button type="button" class="btn rounded btn-primary px-4 ms-3">Contact</button>
                            <button type="button" class="btn rounded btn-outline-primary px-4 ms-3" data-toggle="modal" data-target="#myModal">Update</button>
                        </div>
                        
                        
                    </div>
                    
                   
                     <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Update your profile</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <!-- Include your form here -->
                    <form method="post" action="{% url 'author_profile' author.zen_name %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ a_form.as_p }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

                    
                </div>
                
            </div>
            
        </div>
        
    </div>   
</body>
{% endblock %}