{% extends 'base.html'%}
{% block content %}  
{% load bootstrap4 %}
<div class="container">
    <div class="col-md-6">
        <div id="regis">
            <div class="form-data">
                <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2 class="intro">Add a Book</h2>
                    {% bootstrap_form form%}
                    <button class="btn btn-warning" type="submit">Submit</button>
                </form>

                <button btn btn-success><a href="{% url 'upload' %}">Back</a></button>
            </div>
        </div>
    </div>
</div>
{% endblock %}