{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">Zen</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">BookStore<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'reviews' %}">Reviews<span class="sr-only">(current)</span></a>
      </li>
 
    </ul>
    <div class="form-inline my-2 my-lg-0">
      {% if user.is_authenticated%}
         {% if user.is_author%}
        <li class="nav-item dropdown list-unstyled">
            <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">{{ author.zen_name|title }} <img class="rounded-circle nav-img"
                                                                    src="{#{{ user.profile.profile_picture.url }}#}"
                                                                    alt="">
            </a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item text-center" href="{% url 'author_profile' user.zen_name %}">Profile</a>
                <hr>
                <a class="dropdown-item text-center" data-toggle="modal" data-target="#myModal" href="{#{% url 'edit' user.username  %}#}"> Edit profile</a>
                <hr>
                <a href="{% url 'logout' %}" class="text-secondary text-center dropdown-item">Log Out</a>
            </div> 
        </li>

                 <!-- The Modal -->
                 <di class="modal" id="myModal">
                  <div class="modal-dialog">
                      <div class="modal-content">
          
                          <!-- Modal Header -->
                          <div class="modal-header">
                              <h4 class="modal-title">Update your profile</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
          
                          <!-- Modal Body -->
                          <div class="modal-body">
                              <!-- Include your form here -->
                              <form method="post" action="{% url 'author_profile' user.zen_name %}">
                                  {% csrf_token %}
                                  {{ a_form.as_p }}
                                  <button type="submit" class="btn rounded btn-primary">Submit</button>
                              </form>
                          </div>
          
                      </div>
                  </div>
              </di>



        <span>
          <button class="btn btn-outline-light btn-sm" id="site" data-toggle="modal" data-target=".bd-example-modal-xl">
            POST YOUR BOOK
        </button>
        </span>
        {% else %}
        <li class="nav-item dropdown list-unstyled">
          <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">{{ user.zen_name|title }} <img class="rounded-circle nav-img"
                                                                  src="{ user.profile.profile_picture.url }"
                                                                  alt="">
          </a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item text-center" href="{% url 'customer_profile' user.zen_name %}">Profile</a>
              <hr>
              <a class="dropdown-item text-center" data-toggle="modal" data-target="#myModal" href="{#{% url 'edit' user.username  %}#}"> Edit profile</a>
              <hr>
              <a href="{% url 'logout' %}" class="text-secondary text-center dropdown-item">Log Out</a>


          </div> 
      </li>

                                   <!-- The Modal -->
    <di class="modal" id="myModal">
      <div class="modal-dialog">
          <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                  <h4 class="modal-title">Update your profile</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal Body -->
              <div class="modal-body">
                  <!-- Include your form here -->
                  <form method="post" action="{% url 'customer_profile' user.zen_name %}">
                      {% csrf_token %}
                      {{ c_form.as_p }}
                      <button type="submit" class="btn rounded btn-primary">Submit</button>
                  </form>
              </div>

          </div>
      </div>
  </di>      

      <a href="{% url 'cart' %}">
        <img  id="cart-icon" src="{% static 'images/cart.png' %}">
      </a>
      <p id="cart-total">{{cartItems}}</p>
        
       

    {% endif %}

    {% else %}
<div class="row">
  <div class="p-2"><a href="{% url 'register' %}"class="btn btn-light">Register</a></div>
  <div class="p-2"><a href="{% url 'login' %}"class="btn btn-light">Login</a></div>
</div>
    {% endif %}

    </div>
    
    
  </div>
  </div> 
</nav>